ion-segment-button {
  --indicator-box-shadow: transparent !important;
  --background: transparent;
  --color: #d1d1d5;
  //   --background-checked: linear-gradient(to right, #2d2e87, #0083cb) !important;
  //   --background-checked: transparent !important;
  --color-checked: #000;
  --indicator-color: none;
  --indicator-height: 4px;
  --indicator-transition: transform 250ms cubic-bezier(0, 0, 0, 1.19);
  --indicator-background: rgb(161, 113, 113);
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0.5rem !important;
  // border: 1px solid #aeaeae;
  margin: 0 10px 0 10px;
  font-size: 17px;
  height: 2.3rem;
  min-height: 2.3rem;
}

.ion-left-padding {
  padding-left: 8px !important;
}
