<ion-segment
  (ionChange)="segmentChange($event)"
  [(ngModel)]="segmentMenu"
  value="makanan"
>
  <ion-segment-button
    value="makanan"
    [ngStyle]="{ 'background-color': bgMakanan, border: borderMakanan }"
  >
    <div class="">
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label class="ion-left-padding">Makanan</ion-label>
    </div>
  </ion-segment-button>
  <ion-segment-button
    value="minuman"
    [ngStyle]="{ 'background-color': bgMinuman, border: borderMinuman }"
  >
    <div class="">
      <ion-icon name="beer-outline"></ion-icon>
      <ion-label class="ion-left-padding">Minuman</ion-label>
    </div>
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="segmentMenu" id="segmentMenu">
  <div *ngSwitchCase="'makanan'">
    <!-- <app-makanan [items]="makanan"></app-makanan> -->
    <app-makanan *ngFor="let item of makanan" [item]="item"></app-makanan>
  </div>
  <div *ngSwitchCase="'minuman'">
    <app-minuman *ngFor="let item of minuman" [item]="item"></app-minuman>
    <!-- <app-minuman [item]="minuman"></app-minuman> -->
  </div>
</div>
