ion-searchbar {
  --border-radius: 1rem;
  --box-shadow: none;
  --background: #f3f3f3;
  --placeholder-font-weight: 600;
  --placeholder-opacity: 0.2;

  margin-top: 0.9rem;
  margin-bottom: 0.6rem;

  .searchbar-input-container {
    input {
      // padding-top: 14px !important;
      // padding-bottom: 12px !important;
      font-size: 18px !important;
    }

    // .searchbar-search-icon {
    //   top: 15px !important;
    //   width: 25px;
    //   height: 25px;
    // }
  }
}
