ion-avatar.img-add {
  margin-left: auto;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

ion-avatar {
  --border-radius: 0.5rem;
  width: auto; //90px
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
// .img-add {
// }

ion-item {
  box-shadow: 1px 3px 12px 3px rgb(0 0 0 / 5%);
  border-radius: 0.6rem;
}

.title {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}
.title.price {
  background-color: #ffc75f;
  padding: 0.2rem;
  border-radius: 0.4rem;
  font-size: 1rem !important;
  margin-left: 10px;
}

div.item-native > div.item-inner {
  //   padding-inline-start: 0 !important;
  //   padding-inline-end: 0 !important;
  //   --inner-padding-end: 0;
}
