<ion-item class="ion-no-paddings ion-margin" lines="none">
  <ion-grid>
    <ion-row>
      <ion-col>
        <span class="title">{{ item.title }}</span>
        <span class="title price">Rp. {{ item.price | number }}</span>
      </ion-col>
      <ion-col size="auto">
        <ion-avatar (click)="addToCart(item)" class="img-add">
          <img src="assets/icon/add-button.png" />
          <ion-ripple-effect></ion-ripple-effect>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img [src]="item.item[0].img" />
        </ion-avatar>
        <span>{{ item.item[0].title }}</span>
      </ion-col>
      <ion-col>
        <ion-avatar>
          <img [src]="item.item[1].img" />
        </ion-avatar>
        <span>{{ item.item[1].title }}</span>
      </ion-col>
      <ion-col>
        <ion-avatar>
          <img [src]="item.item[2].img" />
        </ion-avatar>
        <span>{{ item.item[2].title }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
