ion-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #845ec2 !important;
  //   border-bottom-color: transparent !important;
  //   background-image: none !important;
  //   border-bottom: none !important;
  div {
    display: flex;
    align-items: center;
    color: white;
  }
  background-color: #845ec2;
}

ion-content {
  --ion-background-color: #845ec2;

  div:nth-child(1) {
    background-color: white !important;
    width: 100%;
    position: fixed;
    top: 66px;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100vh;
  }
  div:nth-child(2) {
    --ion-background-color: rgba(0, 0, 0, 0);
    padding: 30px 0 30px 0;
  }
}

ion-footer {
  padding: 5px 24px 0px 24px;
  border: none;
  ion-grid {
    border-radius: 8px;
    // padding-left: 16px;
    // padding-right: 16px;
    .span {
      font-size: 1.4rem;
      color: #202020;
      font-weight: bold;
    }
    .span:nth-child(2) {
      text-align: end;
    }
    ion-button {
      height: 3.5rem;
      //   margin-top: 10px;
      //   margin-bottom: 10px;
      margin-right: 0;
      margin-left: 0;
      --border-radius: 20px;
      --border-color: #845ec2;
      //   padding: 10px;
      // --border-width: 1px;
      font-size: 32px;
      font-weight: bold;
      --color: #202020;
    }
  }
}

// ordered session

.ordered-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  // flex-wrap: wrap;
  height: 100%;

  .wrapper {
    margin: 0rem 2rem 0rem 2rem;

    p {
      margin: 1rem;
      text-align: center;
      font-size: 1.1rem;
      color: #4d4d4d;
    }

    p:first-child {
      margin-top: 0;
      margin-bottom: 3rem;
      font-weight: bold;
      font-size: 1.5rem;
    }

    ion-img {
      margin: 5.4rem;
    }
    // flex-direction: column;
    // align-content: center;
    // justify-content: center;
    flex-wrap: wrap;
  }
}

.btn-back {
  --border-radius: 1.5rem;
}

// for button and input name

$black: #000000;
$cornflower-lilac: #ffaea9;
$salmon: #ff7b73;
$white: #ffffff;
$your-pink: #ffcccc;

// body {
//   font-size: 10px; // change value to scale
//   background-color: $salmon;

//   margin: 0;
//   display: grid;
//   height: 100vh;
//   place-items: center;
// }

.c-form__button:disabled {
  opacity: 0.6;
}

.c-checkbox {
  display: none;

  &:checked + .c-formContainer {
    .c-form {
      width: 100%;
    }

    .c-form__toggle {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.7);
    }

    .c-form__input,
    .c-form__buttonLabel {
      transition: 0.2s 0.1s;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &:not(:checked),
  &:checked {
    + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
      content: "Thank You! \1F60A";
    }
  }

  &:not(:checked) + .c-formContainer {
    .c-form__input:required:valid ~ .c-form__toggle {
      pointer-events: none;
      cursor: default;
    }
  }
}

.c-formContainer,
.c-form,
.c-form__toggle {
  width: 25em;
  height: 5em;
}

.c-formContainer {
  position: relative;
  // font-weight: 700;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  width: 100% !important;
  margin: auto;
}

.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 6.25em;
  background-color: white;
  transition: 0.2s;
}

.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba($black, 0.3);

  // position form inputs
  display: flex;
  justify-content: center;
}

.c-form__toggle {
  color: #4d4d4d;
  top: 0;
  cursor: pointer;
  z-index: 1;
  font-weight: 700 !important;

  // position message
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    font-size: 1.75em;
    content: attr(data-title);
  }
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
  font-size: 1.75em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: #4d4d4d;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;

  &::placeholder {
    color: currentColor;
  }

  &:required:valid {
    color: #845ec2;

    + .c-form__buttonLabel {
      color: white;

      &::before {
        pointer-events: initial;
      }
    }
  }
}

.c-form__buttonLabel {
  color: white;
  height: 100%;
  width: auto;

  // accepts click events
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
  }
}

.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5.8em;
  background-color: #845ec2;
}
