<div *ngIf="isOrderButtonPressed" class="ordered-wrapper">
  <div class="wrapper">
    <p *ngIf="!isConfirmed">Menunggu input nama...</p>
    <p *ngIf="isConfirmed">Pesanan Sukses</p>
    <ion-img src="/assets/img/undraw_shopping.svg"></ion-img>
    <p *ngIf="!isConfirmed">
      Pesanan mu akan di proses silahkan masukan nama terlebih dahulu.
    </p>
    <p *ngIf="isConfirmed">
      Pesananmu sudah berhasil di pesan silahkan tunggu hingga pesanan diantar
      😊
    </p>

    <!-- <ion-textarea placeholder="Masukan nama anda.."> </ion-textarea> -->
    <input
      class="c-checkbox"
      type="checkbox"
      id="checkbox"
      *ngIf="!isConfirmed"
    />
    <div class="c-formContainer" *ngIf="!isConfirmed">
      <div class="c-form">
        <input
          class="c-form__input"
          placeholder="Masukan nama kamu.."
          type="text"
          pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
          required
          [disabled]="isOrderLoading"
          [(ngModel)]="inputName"
        />
        <label class="c-form__buttonLabel" for="checkbox">
          <button
            class="c-form__button"
            type="button"
            [disabled]="!inputName"
            (click)="confirmOrder(inputName)"
          >
            Konfirmasi
          </button>
        </label>
        <label
          class="c-form__toggle"
          for="checkbox"
          data-title="Masukan nama anda.."
        ></label>
      </div>
    </div>
    <div style="width: 100%; text-align: center; margin-top: 3rem">
      <ion-button
        (click)="backToCart()"
        [disabled]="isOrderLoading"
        *ngIf="!isConfirmed"
        class="btn-back"
      >
        <span *ngIf="isOrderLoading">Sedang dipesan tunggu ya..</span>
        <span *ngIf="!isOrderLoading">Kembali ke keranjang</span>
      </ion-button>
      <ion-button
        (click)="backBtn()"
        [disabled]="isOrderLoading"
        *ngIf="isConfirmed"
        class="btn-back"
      >
        <span>Kembali ke menu</span>
      </ion-button>
    </div>
  </div>
</div>
<!-- <div *ngIf="!isOrderButtonPressed"> -->
<ion-header class="ion-no-border" *ngIf="!isOrderButtonPressed">
  <!-- <ion-toolbar> -->
  <!-- </ion-toolbar> -->
  <div>
    <ion-button fill="clear" color="light" (click)="backBtn()">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Detail Pesanan</ion-title>
  </div>
</ion-header>

<ion-content *ngIf="!isOrderButtonPressed">
  <div></div>
  <div>
    <ion-list
      *ngFor="let item of cartItem"
      style="padding-bottom: 0; padding-top: 0"
    >
      <ion-item-sliding>
        <app-makanan-list
          *ngIf="item.category != 'paket'"
          [item]="item"
          (plus)="addTotalItem($event)"
          (minus)="minTotalItem($event)"
        >
        </app-makanan-list>
        <app-paket-list
          *ngIf="item.category == 'paket'"
          [item]="item"
          (plus)="addTotalItem($event)"
          (minus)="minTotalItem($event)"
        >
        </app-paket-list>
        <ion-item-options style="margin-right: 15px">
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteThis(item.id)">
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="!isOrderButtonPressed">
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="span">Total Harga:</ion-col>
      <ion-col size="6" class="span">Rp. {{ totalPrice | number}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          fill="outline"
          expand="block"
          (click)="pesan()"
          [disabled]="cartItem.length <= 0"
          ><span>PESAN</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
<!-- </div> -->
