<ion-item class="ion-margin-horizontal" lines="none" style="margin-bottom: 5px">
  <!-- <ion-grid class="ion-no-padding"> -->
  <ion-grid style="padding: 10px 0 10px 0">
    <ion-row>
      <ion-col style="margin-bottom: 10px">
        <span class="title">{{ item.title }}</span>
        <span class="title price">Rp. {{ item.price | number }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img [src]="item.item[0].img" />
        </ion-avatar>
        <span>{{ item.item[0].title }}</span>
      </ion-col>
      <ion-col>
        <ion-avatar>
          <img [src]="item.item[1].img" />
        </ion-avatar>
        <span>{{ item.item[1].title }}</span>
      </ion-col>
      <ion-col>
        <ion-avatar>
          <img [src]="item.item[2].img" />
        </ion-avatar>
        <span>{{ item.item[2].title }}</span>
      </ion-col>
      <ion-col size="auto" class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="auto" style="margin-left: auto; padding: 0">
              <span class="plus-btn" (click)="btnPlus(item.id)">+</span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding">
            <ion-col size="auto" style="margin-left: auto; padding: 0">
              <span class="item-total">{{ item.itemTotal }}</span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding">
            <ion-col size="auto" style="margin-left: auto; padding: 0">
              <span class="minus-btn" (click)="btnMinus(item.id)">-</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </ion-grid> -->
</ion-item>
