<ion-header class="ion-padding">
  <span class="ion-margin" id="konichiwa"
    >Selamat Sore!<i class="ic-konichiwa"></i>
  </span>

  <ion-segment
    [(ngModel)]="segment"
    (ionChange)="changePage($event)"
    value="menu"
  >
    <ion-segment-button value="menu">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="paket">
      <ion-label>Paket</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <app-searchbar></app-searchbar> -->
  <ion-searchbar
    placeholder="Cari Makanan"
    [debounce]="250"
    (keydown.enter)="catchKeyword($event)"
    id="searchbar"
  ></ion-searchbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div [ngSwitch]="segment" id="segmentPage">
    <app-menu *ngSwitchCase="'menu'" [recieveKeyword]="keyword"></app-menu>
    <app-paket *ngSwitchCase="'paket'" [recieveKeyword]="keyword"></app-paket>

    <!-- <ion-card *ngSwitchCase="'menu'">
      <ion-card-header>
        <ion-card-subtitle>Menu Subtitle</ion-card-subtitle>
        <ion-card-title>Menu Title</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card *ngSwitchCase="'paket'">
      <ion-card-header>
        <ion-card-subtitle>Paket Subtitle</ion-card-subtitle>
        <ion-card-title>Paket Title</ion-card-title>
      </ion-card-header>
    </ion-card> -->
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div>
    <ion-label>
      <!-- <h2>
      </h2> -->
      <span class="span-total">Total:</span>
      <span>{{cartLength}} Pesanan</span>
    </ion-label>
    <ion-button
      fill="outline"
      routerLink="/detail"
      routerDirection="root"
      (click)="openCart()"
      >CART</ion-button
    >
  </div>
</ion-footer>
