ion-segment-button {
  --indicator-box-shadow: transparent !important;
  --background: white;
  --color: #d1d1d5;
  // --background-checked: linear-gradient(to right, #2d2e87, #0083cb) !important;
  --color-checked: #000000;
  // --indicator-color: #845ec2;
  --indicator-color: #845ec2;
  --indicator-height: 4px;
  --indicator-transition: transform 250ms cubic-bezier(0, 0, 0, 1.19);
  // --indicator-background: rgb(161, 113, 113);
  letter-spacing: 0.03em;
  text-transform: capitalize;
  border-radius: 0.5rem !important;
  padding: 0 0 5px 0;
  // margin: 0;
  margin: 0 10px 0 10px;
  // font-weight: 600;
  font-size: 2.5rem;
}

ion-header {
  padding-bottom: 0px;
  // ion-segment {
  //   padding-top: 1rem;
  // }
}

ion-header::after {
  background-image: none;
}

// .segment-button-checked {
//   border-bottom: black;
// }

// .icon-my {
//   content: url("./assets/icon/smiling-face-with-smiling-eyes.png") !important;
// }

ion-footer {
  // padding-left: 24px;
  // padding-right: 24px;
  // padding-top: 5px;
  // padding-bottom: 10px;
  padding: 5px 24px 10px 24px;
  border: none;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #845ec2;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    ion-label {
      font-size: 1.4rem;
      color: white;
      font-weight: 500;
      .span-total {
        margin-right: 7px;
      }
    }
    ion-button {
      // height: 37px;
      margin-top: 10px;
      margin-bottom: 10px;
      --background: #ffc75f;
      --border-radius: 10px;
      --border-color: #202020;
      // --border-width: 1px;
      font-weight: bold;
      --color: #202020;
    }
  }
}

#konichiwa {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.ic-konichiwa {
  background-image: url(../../assets/icon/smiling-face-with-smiling-eyes.png);
  height: 0.8em;
  width: 0.8em;
  font-size: 25px;
  margin-left: 0.3rem;
  background-position: center;
  background-size: contain;
  margin-right: 0.25em;
  margin-top: -0.02em;
}

ion-searchbar {
  --border-radius: 1rem;
  --box-shadow: none;
  --background: #f3f3f3;
  --placeholder-font-weight: 600;
  --placeholder-opacity: 0.2;

  margin-top: 0.9rem;
  margin-bottom: 0.6rem;

  .searchbar-input-container {
    input {
      font-size: 18px !important;
    }
  }
}

// [class^="ic-"],
// [class*=" ic-"],
// .ic-konichiwa {
// }
