<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link href="sidebars.css" rel="stylesheet" />

    <title>Hello, world!</title>
    <style>
      .tableFixHead {
        overflow: auto;
        height: 100px;
      }
      .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: rgb(194, 255, 240);
      }
    </style>
  </head>

  <!-- Custom styles for this template -->
  <body>
    <div class="row mx-0 p-2">
      <aside
        class="col"
        style="
          height: calc(100vh - 1px - (0.5rem * 2));
          border: 1px solid #ccc;
          overflow: auto;
        "
      >
        <div class="py-3 border-bottom">
          <a href="/" class="p-3 link-dark text-decoration-none">
            <span class="fs-5 fw-semibold">List Pesanan</span>
          </a>
        </div>
        <div class="list-group p-3">
          <% listMeja.map((item, i) => { %>
          <a
            href="?table=<%= item.id %>"
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= item.id %></h5>
              <!-- refresh setiap 1 menit -->
              <% if(!item.data.isDone) { %>
              <small>baru</small>
              <% } %>
            </div>
            <p class="mb-1">Pesanan Ke-<%= i + 1 %></p>
          </a>
          <% }) %>
        </div>
      </aside>

      <div class="col-md-9 mx-2">
        <div class="row" style="height: 4.5rem">
          <header class="col mb-2 text-center" style="border: 1px solid #ccc">
            <h3 class="py-0 my-0">Detail Pesanan</h3>
            <span>Pesanan untuk: Meja 1</span>
          </header>
        </div>
        <div class="row h-80">
          <main
            class="col"
            style="
              height: calc(97vh - (4.5rem * 2));
              border: 1px solid #ccc;
              overflow: auto;
            "
          >
            <table class="table table-hover tableFixHead">
              <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Harga</th>
                  <th scope="col">Jumlah</th>
                  <th scope="col">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <% total = 0; data.map(item => { %>
                <tr>
                  <td><%= item.title %></td>
                  <td>Rp <%= item.price %></td>
                  <td>x<%= item.itemTotal %></td>
                  <td>Rp <%= subtotal = item.itemTotal * item.price %></td>
                </tr>
                <% total+= subtotal }) %>
              </tbody>
            </table>
          </main>
        </div>
        <div class="row" style="height: 4.5rem;"">
        <footer class="col mt-2" style="border: 1px solid #ccc">
          <div class="d-flex justify-content-between py-2 px-5">
            <h4>Total Rp <%= total %></h4>
            <a class="btn btn-primary" <%= "href=?table=" + dataid + "&docId=" + dataid %>
              role="button" >Selesai</a
            >
          </div>
        </footer>
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
  </body>
</html>
