<ion-item class="ion-no-padding ion-margin" lines="none">
  <ion-avatar slot="start">
    <img [src]="item.img" />
  </ion-avatar>
  <ion-label class="ion-no-margin">
    <h2>{{ item.title }}</h2>
    <h3>Rp. {{ item.price | number }}</h3>
  </ion-label>
  <ion-avatar slot="end" (click)="addToCart(item)" class="img-add">
    <img src="assets/icon/add-button.png" />
    <ion-ripple-effect></ion-ripple-effect>
  </ion-avatar>
</ion-item>
