ion-avatar:nth-child(1) {
  --border-radius: 0.5rem;
  width: 70px;
  height: 50px;
  padding-left: 10px;
}

.img-add {
  width: 45px;
  height: 45px;
}

ion-item {
  box-shadow: 3px 4px 10px 0px rgb(0 0 0 / 5%);
  border-radius: 0.6rem;
}

ion-label {
  h2 {
    margin-bottom: 6px;
    font-weight: 600;
  }
  h3 {
    font-weight: 500;
  }
}
