<ion-item
  class="ion-no-padding ion-margin-horizontal"
  lines="none"
  style="margin-bottom: 5px"
>
  <ion-avatar slot="start">
    <img [src]="item.img" />
  </ion-avatar>
  <ion-label class="ion-no-margin">
    <h2>{{ item.title }}</h2>
    <h3>Rp. {{ item.price | number }}</h3>
  </ion-label>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="auto" style="margin-left: auto; padding: 0">
        <span class="plus-btn" (click)="btnPlus(item.id)">+</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="auto" style="margin-left: auto; padding: 0">
        <span class="item-total">{{ item.itemTotal }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="auto" style="margin-left: auto; padding: 0">
        <span class="minus-btn" (click)="btnMinus(item.id)">-</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
