ion-avatar:nth-child(1) {
  --border-radius: 0.5rem;
  width: 70px;
  height: 50px;
  padding-left: 10px;
}

.img-indec {
  width: 15px;
  height: 15px;
}

.plus-btn,
.minus-btn {
  // background-color: #ffc75f;
  // border: 1px solid #ffc75f;
  padding: 0 0.2rem 0 0.2rem;
  border-radius: 0.4rem;
  font-size: 1.9rem !important;
  margin-left: 10px;
  font-weight: bold;
  display: block;
  width: 30px;
  text-align: center;
}

ion-item {
  box-shadow: 1px 3px 6px 1px rgb(0 0 0 / 6%);
  // box-shadow: 3px 4px 10px 0px rgb(0 0 0 / 5%);
  border-radius: 0.6rem;
}

ion-label {
  h2 {
    margin-bottom: 6px;
    font-weight: 600;
  }
  h3 {
    font-weight: 500;
  }
}

.item-total {
  background-color: #e5e5e5;
  padding: 0.2rem;
  border-radius: 0.4rem;
  font-size: 0.9rem !important;
  margin-left: 10px;
  display: block;
  width: 30px;
  text-align: center;
}
